Repository Caltech-IPAC/firefly, pull requests merged in 2019-12, with the labels that each got.

#915 FIREFLY-370: Update table saving option menu
  src/firefly/java/edu/caltech/ipac/table/TableUtil.java
  src/firefly/js/tables/ui/TableSave.jsx
Labels: Table, enhancement

#887 IRSA-3158
  src/firefly/js/ui/DownloadDialog.jsx
Labels: Infrastructure, UI, bug

#920 FIREFLY-64: Enable default history handling.
  src/firefly/js/core/History.js
  src/firefly/js/tables/TablesCntlr.js
Labels: bug

#904 FIREFLY-56 Change ruler tool behavior for image with or without WCS and HiPS
  src/firefly/js/drawingLayers/DistanceTool.js
  src/firefly/js/drawingLayers/DistanceToolUI.jsx
  src/firefly/js/visualize/VisUtil.js
  src/firefly/js/visualize/draw/DrawObj.js
  src/firefly/js/visualize/draw/DrawUtil.js
  src/firefly/js/visualize/draw/Drawer.js
  src/firefly/js/visualize/draw/DrawingDef.js
  src/firefly/js/visualize/draw/ShapeDataObj.js
  src/firefly/js/visualize/iv/HiPSSingleTileRender.js
Labels: enhancement, overlay-drawing

#916 FIREFLY-112: Client table filter does not fail when strings are used …
  src/firefly/java/edu/caltech/ipac/table/TableMeta.java
  src/firefly/js/tables/FilterInfo.js
  src/firefly/js/tables/TableUtil.js
  src/firefly/js/ui/HiPSSurveyListDisplay.jsx
  src/firefly/js/util/WebUtil.js
  src/firefly/js/visualize/ui/FitsHeaderView.jsx
Labels: Table

#921 IRSA-3147_sha_migration_migrate_server_side_search_aor
  src/firefly/java/edu/caltech/ipac/firefly/server/db/EmbeddedDbUtil.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/spring/ColumnDef.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/spring/SqlUtil.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/spring/mapper/DataGroupUtil.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/spring/mapper/ImageCornersMapper.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/spring/mapper/IpacTableExtractor.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/QuerySearchHistory.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/QueryTags.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/IpacFileQuery.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/Query.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/TemplateGenerator.java
  src/firefly/java/edu/caltech/ipac/table/JsonTableUtil.java
Labels: gwt-migration
