Repository Caltech-IPAC/firefly, pull requests merged in 2020-02, with the labels that each got.

#929 Firefly- 451 removed `numeral` package and revamp `package.json`
  .eslintrc
  __jest__/jest.transform.js
  buildScript/global.gincl
  buildScript/webpack.config.js
  package-json-doc.md
  package.json
  src/firefly/html/css/global.css
  src/firefly/js/charts/ui/ChartPanel.css
  src/firefly/js/data/form/PositionFieldDef.js
  src/firefly/js/drawingLayers/CatalogUI.jsx
  src/firefly/js/drawingLayers/ComputeWebGridData.js
  src/firefly/js/drawingLayers/DistanceTool.js
  src/firefly/js/drawingLayers/FootprintToolUI.jsx
  src/firefly/js/drawingLayers/HiPSMOC.js
  src/firefly/js/drawingLayers/ImageRoot.js
  src/firefly/js/externalSource/FilePicker/react-keyed-file-browser/react-keyed-file-browser.css
  src/firefly/js/externalSource/transformation-matrix-js/NOTES_firefly-transformation-matrix-js.txt
  src/firefly/js/externalSource/transformation-matrix-js/matrix.js
  src/firefly/js/externalSource/transformation-matrix-js/readme.md
  src/firefly/js/metaConvert/PartAnalyzer.js
  src/firefly/js/tables/ui/BasicTableView.jsx
  src/firefly/js/tables/ui/TablePanel.css
  src/firefly/js/tables/ui/TableRenderer.js
  src/firefly/js/ui/Banner.css
  src/firefly/js/ui/DropDownContainer.css
  src/firefly/js/ui/InputAreaFieldView.css
  src/firefly/js/ui/InputFieldView.css
  src/firefly/js/ui/PopupPanel.css
  src/firefly/js/ui/ProgressBar.css
  src/firefly/js/ui/SearchSummary.jsx
  src/firefly/js/ui/tap/TableSelectViewPanel.jsx
  src/firefly/js/visualize/CoordUtil.js
  src/firefly/js/visualize/CsysConverter.js
  src/firefly/js/visualize/ImagePlotCntlr.js
  src/firefly/js/visualize/PlotTransformUtils.js
  src/firefly/js/visualize/WebPlot.js
  src/firefly/js/visualize/ZoomUtil.js
  src/firefly/js/visualize/draw/DrawUtil.js
  src/firefly/js/visualize/iv/EventLayer.jsx
  src/firefly/js/visualize/iv/PlotTitle.jsx
  src/firefly/js/visualize/reducer/PlotView.js
  src/firefly/js/visualize/saga/MouseReadoutWatch.js
  src/firefly/js/visualize/task/WcsMatchTask.js
  src/firefly/js/visualize/ui/ColorBandPanel.jsx
  src/firefly/js/visualize/ui/FitsHeaderView.jsx
  src/firefly/js/visualize/ui/IrsaMasterTableFilters.js
  src/firefly/js/visualize/ui/MouseReadoutOptionPopups.jsx
  src/firefly/js/visualize/ui/MouseReadoutUIUtil.js
  src/firefly/js/visualize/ui/MultiProductViewer.jsx
  src/firefly/js/visualize/ui/VisCtxToolbarView.jsx
  src/firefly/js/visualize/ui/WorldPtFormat.jsx
  yarn.lock
Labels: bug, build, documentation

#930 FIREFLY-436 place the footprint label when the location corner is changed
  src/firefly/js/drawingLayers/FootprintToolUI.jsx
  src/firefly/js/visualize/draw/MarkerFootprintObj.js
Labels: bug, overlay-drawing

#933 Firefly-489: caching of HiPS properties and tiles should only last until a reload happens
  buildScript/tasks.gincl
  docker/base/cleanup.sh
  src/firefly/js/Firefly.js
  src/firefly/js/visualize/HiPSUtil.js
Labels: HiPS, Infrastructure

#932 firefly-487-Add validation to WAVE-TAB WCS implementation
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/fitseval/SpectralCubeEval.java
  src/firefly/js/visualize/projection/Wavelength.js
  src/firefly/js/visualize/projection/WavelengthHeaderParser.js
Labels: Image, enhancement

#936 Firefly-472: image centering was not recognizing that the table was in radians
  src/firefly/js/tables/TableUtil.js
  src/firefly/js/visualize/saga/ActiveRowCenterWatcher.js
Labels: bug

#928 FIREFLY-471: Table Options UI Improvement
  src/firefly/html/images/right-arrow-in-16x16.png
  src/firefly/java/edu/caltech/ipac/firefly/data/TableServerRequest.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/BaseDbAdapter.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/EmbeddedDbUtil.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/EmbeddedDbProcessor.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/SearchServerCommands.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/TableFunctionProcessor.java
  src/firefly/java/edu/caltech/ipac/table/DataType.java
  src/firefly/java/edu/caltech/ipac/table/IpacTableUtil.java
  src/firefly/java/edu/caltech/ipac/table/JsonTableUtil.java
  src/firefly/java/edu/caltech/ipac/table/io/IpacTableWriter.java
  src/firefly/js/tables/FilterInfo.js
  src/firefly/js/tables/TableConnector.js
  src/firefly/js/tables/TableUtil.js
  src/firefly/js/tables/reducer/TableUiReducer.js
  src/firefly/js/tables/ui/BasicTableView.jsx
  src/firefly/js/tables/ui/FilterEditor.jsx
  src/firefly/js/tables/ui/TablePanel.css
  src/firefly/js/tables/ui/TablePanel.jsx
  src/firefly/js/tables/ui/TablePanelOptions.jsx
  src/firefly/js/tables/ui/TableRenderer.js
  src/firefly/js/ui/InputAreaFieldView.jsx
  src/firefly/js/ui/panel/TabPanel.css
  src/firefly/js/ui/tap/AdvancedADQL.jsx
  src/firefly/js/visualize/CoordUtil.js
  src/firefly/test/edu/caltech/ipac/firefly/server/util/tables/TableTest.java
Labels: Table, enhancement

#934 Firefly-386: add orbital path support to drawing
  README.md
  src/firefly/html/test/images/most-search-pallis-path.png
  src/firefly/html/test/images/orbital-path.png
  src/firefly/html/test/test-coverage.html
  src/firefly/html/test/tests-main.html
  src/firefly/java/edu/caltech/ipac/firefly/data/table/MetaConst.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/DbCustomFunctions.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/UserCatalogQuery.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/mos/QueryMOS.java
  src/firefly/java/edu/caltech/ipac/firefly/server/servlets/AnyFileUpload.java
  src/firefly/js/data/MetaConst.js
  src/firefly/js/drawingLayers/Catalog.js
  src/firefly/js/drawingLayers/DistanceTool.js
  src/firefly/js/util/VOAnalyzer.js
  src/firefly/js/visualize/draw/Drawer.js
  src/firefly/js/visualize/draw/ShapeDataObj.js
  src/firefly/js/visualize/iv/ImageViewerDecorate.jsx
  src/firefly/js/visualize/saga/CatalogWatcher.js
  src/firefly/js/visualize/saga/CoverageWatcher.js
  src/firefly/js/visualize/task/PlotHipsTask.js
  src/firefly/js/visualize/ui/CatalogSelectViewPanel.jsx
  src/firefly/js/visualize/ui/CoveraeViewer.jsx
  src/firefly/js/visualize/ui/TriViewImageSection.jsx
Labels: gwt-migration, overlay-drawing, testing

#937 Firefly-484: HiPS/Image WCS match rotate updates
  README.md
  docs/release-notes.md
  src/firefly/js/ui/FitsRotationDialog.jsx
  src/firefly/js/visualize/ImagePlotCntlr.js
  src/firefly/js/visualize/VisUtil.js
  src/firefly/js/visualize/reducer/PlotView.js
  src/firefly/js/visualize/saga/ActiveRowCenterWatcher.js
  src/firefly/js/visualize/task/PlotChangeTask.js
  src/firefly/js/visualize/task/PlotHipsTask.js
  src/firefly/js/visualize/task/WcsMatchTask.js
  src/firefly/js/visualize/task/ZoomTask.js
  src/firefly/js/visualize/ui/VisToolbar.jsx
  src/firefly/js/visualize/ui/VisToolbarView.jsx
Labels: HiPS, enhancement

#940 Firefly-486: Add file name in tab to catalog upload
  src/firefly/js/tables/ui/TablesContainer.jsx
  src/firefly/js/visualize/ui/TriViewImageSection.jsx
Labels: UI, bug

#943 IRSA-1197: fixed, after crop the incorrect box no lock appear and locking is correct
  docs/release-notes.md
  src/firefly/js/visualize/task/PlotChangeTask.js
  src/firefly/js/visualize/ui/VisCtxToolbarView.jsx
Labels: HiPS, Image, bug, overlay-drawing

#941 FIREFLY-442: Add fixed column to table API
  docs/release-notes.md
  src/firefly/html/demo/table-api.html
  src/firefly/html/test/tests-table.html
  src/firefly/java/edu/caltech/ipac/firefly/server/db/BaseDbAdapter.java
  src/firefly/java/edu/caltech/ipac/firefly/server/db/EmbeddedDbUtil.java
  src/firefly/java/edu/caltech/ipac/table/DataType.java
  src/firefly/java/edu/caltech/ipac/table/IpacTableUtil.java
  src/firefly/java/edu/caltech/ipac/table/JsonTableUtil.java
  src/firefly/java/edu/caltech/ipac/table/TableMeta.java
  src/firefly/js/tables/TablesCntlr.js
  src/firefly/js/tables/tables-typedefs.jsdoc
  src/firefly/js/tables/ui/TablePanel.css
Labels: API, Table, enhancement

#939 FIREFLY-137: add additional information into the row highlight action
  src/firefly/html/test/styles.css
  src/firefly/html/test/template.html
  src/firefly/html/test/tests-table.html
  src/firefly/js/tables/TablesCntlr.js
  src/firefly/js/tables/reducer/TableDataReducer.js
Labels: API
