Repository Caltech-IPAC/firefly, pull requests merged in 2022-07, with the labels that each got.

#1232 FIREFLY-990: Change search default to boundary-contains-point
  src/firefly/js/ui/tap/TableSearchMethods.jsx
Labels: UI

#1235 Firefly-1011: HiPS and other fixes
  config/app.config
  docs/next-release-details.md
  docs/release-notes.md
  src/firefly/config/app.prop
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/hips/CDSHiPSListSource.java
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/hips/ExternalHiPSListSource.java
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/hips/HiPSListUtil.java
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/hips/IrsaHiPSListSource.java
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/hips/LsstHiPSListSource.java
  src/firefly/js/metaConvert/DataProductsCntlr.js
  src/firefly/js/metaConvert/MultiProductFileAnalyzer.js
  src/firefly/js/visualize/PlotViewUtil.js
  src/firefly/js/visualize/iv/HiPSTileCache.js
  src/firefly/js/visualize/iv/HiPSTileDrawer.js
  src/firefly/js/visualize/ui/MultiProductViewer.jsx
Labels: bug

#1237 IRSA-4688: Migrate the ability to highlight related rows from GWT
  src/firefly/html/test/tests-table.html
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/IBEUtils.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/Query2MassSIA.java
  src/firefly/java/edu/caltech/ipac/table/TableMeta.java
  src/firefly/js/tables/tables-typedefs.jsdoc
  src/firefly/js/tables/ui/BasicTableView.jsx
  src/firefly/js/tables/ui/TablePanel.css
Labels: enhancement

#1239 FIREFLY-1017-1018 multi tickets commit
  src/firefly/js/charts/ui/ChartWorkArea.jsx
  src/firefly/js/charts/ui/MultiChartToolbar.jsx
Labels: Charts, multi-ticket

#1240 FIREFLY-1020-1021-1022: Chart multi-ticket UI changes
  src/firefly/html/css/global.css
  src/firefly/js/charts/ui/ChartPanel.css
  src/firefly/js/charts/ui/ChartWorkArea.jsx
  src/firefly/js/charts/ui/MultiChartViewer.jsx
  src/firefly/js/ui/panel/DockLayoutPanel.jsx
Labels: Charts, multi-ticket

#1241 Firefly-959,IRSA-4696,IRSA-4695: Fixed Timeseries issues
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/LockingVisNetwork.java
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/imageretrieve/ServiceRetriever.java
  src/firefly/java/edu/caltech/ipac/visualize/net/AtlasIbeImageGetter.java
  src/firefly/java/edu/caltech/ipac/visualize/net/IbeImageGetter.java
  src/firefly/java/edu/caltech/ipac/visualize/net/ImageServiceParams.java
  src/firefly/js/templates/lightcurve/LcManager.js
  src/firefly/js/visualize/FitsHeaderUtil.js
  src/firefly/js/visualize/ImagePlotCntlr.js
  src/firefly/js/visualize/iv/PlotTitle.jsx
  src/firefly/js/visualize/reducer/HandlePlotChange.js
  src/firefly/js/visualize/reducer/PlotTitle.js
  src/firefly/js/visualize/saga/CatalogWatcher.js
  src/firefly/js/visualize/task/PlotImageTask.js
  src/firefly/js/visualize/ui/MultiImageViewer.jsx
  src/firefly/js/visualize/ui/VisCtxToolbarView.jsx
Labels: bug, multi-ticket

#1242 Firefly-1030: improve visual target selection, (Also Firefly-1025)
  src/firefly/js/core/background/BgMaskPanel.jsx
  src/firefly/js/metaConvert/DataLinkProcessor.js
  src/firefly/js/metaConvert/ServDescConverter.js
  src/firefly/js/ui/CatalogSearchMethodType.jsx
  src/firefly/js/ui/ConnectionCtx.js
  src/firefly/js/ui/FieldGroup.jsx
  src/firefly/js/ui/InputAreaFieldView.jsx
  src/firefly/js/ui/InputFieldView.css
  src/firefly/js/ui/InputFieldView.jsx
  src/firefly/js/ui/SizeInputField.jsx
  src/firefly/js/ui/TargetPanel.jsx
  src/firefly/js/ui/dynamic/DynComponents.jsx
  src/firefly/js/ui/dynamic/DynamicDef.js
  src/firefly/js/ui/tap/TableSearchMethods.jsx
  src/firefly/js/util/VOAnalyzer.js
  src/firefly/js/visualize/iv/HiPSTileDrawer.js
  src/firefly/js/visualize/saga/CoverageWatcher.js
  src/firefly/js/visualize/task/PlotHipsTask.js
  src/firefly/js/visualize/ui/MultiProductViewer.jsx
  src/firefly/js/visualize/ui/SelectAreaDropDownView.jsx
  src/firefly/js/visualize/ui/ServiceDescriptorPanel.jsx
  src/firefly/js/visualize/ui/SimpleLayerOnOffButton.jsx
  src/firefly/js/visualize/ui/TargetHiPSPanel.jsx
  src/firefly/js/visualize/ui/VisCtxToolbarView.jsx
  src/firefly/js/visualize/ui/VisMiniToolbar.jsx
Labels: bug, enhancement, Image, multi-ticket

#1243 Firefly-1031: clean up
  src/firefly/java/edu/caltech/ipac/util/download/URLDownload.java
  src/firefly/js/metaConvert/DataLinkProcessor.js
  src/firefly/js/ui/TargetPanel.jsx
  src/firefly/js/ui/dynamic/DynComponents.jsx
  src/firefly/js/ui/dynamic/DynamicUISearchPanel.jsx
  src/firefly/js/util/VOAnalyzer.js
  src/firefly/js/visualize/HiPSUtil.js
  src/firefly/js/visualize/task/PlotHipsTask.js
  src/firefly/js/visualize/ui/TargetHiPSPanel.jsx
Labels: bug

#1245 Firefly-1037, Firefly-1038: multiple issues
  src/firefly/html/images/caltech-new-logo.png
  src/firefly/html/images/ipac_logo-56x40.png
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/ImagePlotCreator.java
  src/firefly/java/edu/caltech/ipac/firefly/server/visualize/VisJsonSerializer.java
  src/firefly/java/edu/caltech/ipac/firefly/visualize/WebFitsData.java
  src/firefly/java/edu/caltech/ipac/visualize/plot/Histogram.java
  src/firefly/js/ui/PopupUtil.jsx
  src/firefly/js/ui/VersionInfo.jsx
  src/firefly/js/visualize/WebPlot.js
  src/firefly/js/visualize/rawData/RawDataOps.js
  src/firefly/js/visualize/reducer/HandlePlotChange.js
  src/firefly/js/visualize/task/PlotChangeTask.js
  src/firefly/js/visualize/ui/StretchDropDownView.jsx
Labels: bug, enhancement, Image

#1246 Firefly-1033, 1035
  docs/release-notes.md
  src/firefly/js/metaConvert/ImageDataProductsUtil.js
  src/firefly/js/ui/VersionInfo.jsx
  src/firefly/js/visualize/WebPlot.js
  src/firefly/js/visualize/rawData/RawDataOps.js
  src/firefly/js/visualize/ui/ColorBandChooserPopup.jsx
  src/firefly/js/visualize/ui/TriViewImageSection.jsx
Labels: bug, multi-ticket
