Repository Caltech-IPAC/firefly, pull requests merged in 2023-11, with the labels that each got.

#1438 Firefly 1314 multi sprectrum table
  src/firefly/html/demo/table-api.html
  src/firefly/java/edu/caltech/ipac/firefly/core/FileAnalysis.java
  src/firefly/java/edu/caltech/ipac/firefly/core/FileAnalysisReport.java
  src/firefly/java/edu/caltech/ipac/firefly/server/network/HttpServiceInput.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/HistoryAndTagsDao.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/MultiSpectrumProcessor.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/PreferencesDao.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/Query2MassSIA.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/QueryRTreeInventory.java
  src/firefly/java/edu/caltech/ipac/firefly/server/persistence/QueryTags.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/SearchServerCommands.java
  src/firefly/java/edu/caltech/ipac/firefly/server/query/tables/IpacTableFromSource.java
  src/firefly/java/edu/caltech/ipac/firefly/server/util/QueryUtil.java
  src/firefly/java/edu/caltech/ipac/table/DataGroup.java
  src/firefly/java/edu/caltech/ipac/table/GroupInfo.java
  src/firefly/java/edu/caltech/ipac/table/IpacTableUtil.java
  src/firefly/java/edu/caltech/ipac/table/JsonTableUtil.java
  src/firefly/java/edu/caltech/ipac/table/ParamInfo.java
  src/firefly/java/edu/caltech/ipac/table/TableUtil.java
  src/firefly/java/edu/caltech/ipac/table/io/VoTableReader.java
  src/firefly/java/edu/caltech/ipac/table/io/VoTableWriter.java
  src/firefly/js/ui/FileUploadProcessor.jsx
  src/firefly/test/edu/caltech/ipac/firefly/core/FileAnalysisTest.java
  src/firefly/test/edu/caltech/ipac/firefly/util/FileLoader.java
  src/firefly/test/edu/caltech/ipac/table/IpacTableFromSourceTest.java
  src/firefly/test/edu/caltech/ipac/table/VotableTest.java
Labels: enhancement, Table

#1442 Firefly-1324: Update multi product view to handle multiple spectrum at once
  src/firefly/js/charts/ui/MultiChartViewer.jsx
  src/firefly/js/data/FileAnalysis.js
  src/firefly/js/drawingLayers/HiPSGrid.js
  src/firefly/js/metaConvert/AnalysisUtils.js
  src/firefly/js/metaConvert/DataProductsFactory.js
  src/firefly/js/metaConvert/PartAnalyzer.js
  src/firefly/js/metaConvert/TableDataProductUtils.js
  src/firefly/js/metaConvert/UploadAndAnalysis.js
  src/firefly/js/metaConvert/vo/DataLinkProcessor.js
  src/firefly/js/metaConvert/vo/ObsCoreConverter.js
  src/firefly/js/metaConvert/vo/ServDescConverter.js
  src/firefly/js/metaConvert/vo/ServDescProducts.js
  src/firefly/js/templates/router/RouteHelper.jsx
  src/firefly/js/ui/dynamic/EmbeddedPositionSearchPanel.jsx
  src/firefly/js/visualize/HiPSUtil.js
  src/firefly/js/visualize/ImageViewerLayout.jsx
  src/firefly/js/visualize/WebPlot.js
  src/firefly/js/visualize/iv/HiPSCellFinder.js
  src/firefly/js/visualize/ui/MultiItemViewerView.jsx
  src/firefly/js/visualize/ui/multiProduct/MultiProductChoice.jsx
  src/firefly/js/voAnalyzer/VoConst.js
  src/firefly/js/voAnalyzer/VoDataLinkServDef.js
Labels: enhancement, UI

#1444 FIREFLY-1340: noChartToolbar parameter for showChart not working
  src/firefly/js/charts/ui/ChartPanel.jsx
  src/firefly/js/charts/ui/MultiChartViewer.jsx
Labels: bug

#1443 FIREFLY-1304: Implement spectral redshift correction
  src/firefly/js/charts/dataTypes/FireflySpectrum.js
  src/firefly/js/charts/dataTypes/SpectrumUnitConversion.js
  src/firefly/js/charts/ui/ColumnOrExpression.jsx
  src/firefly/js/charts/ui/options/SpectrumOptions.jsx
  src/firefly/js/voAnalyzer/SpectrumDM.js
  src/firefly/js/voAnalyzer/vo-typedefs.jsdoc
Labels: enhancement, Charts

#1447 FIREFLY-1297: Add support for null values to all table's data types.
  src/firefly/java/edu/caltech/ipac/table/PrimitiveList.java
  src/firefly/test/edu/caltech/ipac/firefly/server/util/tables/DataGroupReadTest.java
Labels: bug, Table

#1445 FIREFLY-1333: Add support for enumerated column's values with comma.
  src/firefly/java/edu/caltech/ipac/firefly/server/db/EmbeddedDbUtil.java
  src/firefly/js/tables/TableUtil.js
  src/firefly/js/tables/ui/TableRenderer.js
  src/firefly/js/ui/CheckboxGroupInputField.jsx
Labels: bug, Table

#1441 Firefly 1320: Search Panel routes for Euclid SphereX
  src/firefly/js/ui/FormPanel.jsx
  src/firefly/js/ui/SearchPanel.jsx
Labels: enhancement

#1449 Firefly-1346: Image Table Row Viewer
  src/firefly/js/metaConvert/DataProductsFactory.js
  src/firefly/js/metaConvert/PartAnalyzer.js
  src/firefly/js/metaConvert/vo/DataLinkProcessor.js
  src/firefly/js/ui/ValidationField.jsx
  src/firefly/js/ui/dynamic/DLGeneratedDropDown.js
  src/firefly/js/ui/dynamic/ServiceDefTools.js
  src/firefly/js/visualize/WebPlotRequest.js
  src/firefly/js/visualize/saga/CoverageWatcher.js
  src/firefly/js/visualize/ui/ImageTableRowViewer.jsx
  src/firefly/js/voAnalyzer/VoDataLinkServDef.js
Labels: bug, enhancement, multi-ticket

#1448 FIREFLY-1347: showPropertySheetButton option should be consistent with other table's options
  src/firefly/html/demo/table-api.html
  src/firefly/js/Firefly.js
  src/firefly/js/tables/FilterInfo.js
  src/firefly/js/tables/tables-typedefs.jsdoc
  src/firefly/js/tables/ui/PropertySheet.jsx
  src/firefly/js/tables/ui/TablePanel.jsx
  src/firefly/js/templates/fireflyviewer/TriViewPanel.jsx
Labels: bug, Table

#1450 Firefly-1196: fixed
  src/firefly/js/core/AppDataCntlr.js
  src/firefly/js/metaConvert/PartAnalyzer.js
  src/firefly/js/ui/dynamic/DLGeneratedDropDown.js
  src/firefly/js/visualize/ui/VisualSearchUtils.js
Labels: bug

#1451 Firefly-871: Add wavelength to "line extract" and "pick points" tools
  src/firefly/java/edu/caltech/ipac/firefly/server/query/ExtractFromImage.java
  src/firefly/java/edu/caltech/ipac/table/io/FITSExtractToTable.java
  src/firefly/js/visualize/ui/ExtractionDialog.jsx
  src/firefly/js/visualize/ui/VisMiniToolbar.jsx
Labels: enhancement, Image
